.search-form {
  display: flex;
  background: white;
  border-radius: 100px;
  padding: 0;
  height: 64px;
  width: 100%;
  max-width: 608px;
  margin: 0 auto;
  overflow: hidden;
}

.search-form__input {
  flex: 1;
  border: none;
  outline: none;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 0;
}

.search-form__button {
  background: #2f71e5;
  color: white;
  border: none;
  height: 100%;
  border-radius: 100px;
  padding: 0 32px;
  width: 168px;
  cursor: pointer;
}

.main {
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
}


